/* src/index.css */
body {
  margin: 0;
  padding: 0;
  display: block; /* Vite의 기본 설정을 무시합니다 */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* 화면 전체 너비를 다 쓰게 합니다 */
  margin: 0;
  padding: 0;
}